/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.hebergements h2{
    display: flex;
    width: 100%;
    margin: 0;
}

.hebergement-listing {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.hotel {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 1.25em 1.25em 1.25em 1.25em;
    box-shadow: 0em 0.188em 0.938em rgba(0,0,0,0.1);
    background-color: white;
    margin-top: 1.8em;
    padding: 0.5em;
    box-sizing: border-box;
}

.hotel-image {
    display: flex;
    height: 7em;
    width: 100%;
    border-radius: 1.25em 1.25em 0em 0em;
    object-fit: cover;
}

.hotel h3 {
    display: flex;
    font-size: 1em;
    margin: 0.625em 0em 0.25em 0em;
}

.hotel p {
    display: flex;
    margin: 0;
}

.avis-etoile {
    display: flex;
    margin: 0.35em 0em 0em 0em;
}

.fa-duotone.fa-solid.fa-star {
    color: #f2f2f2;
}

.herbergement-plus {
    display:flex;
    font-size: 1em;
    margin: 2em 0em 0em 0em;
}

/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    width: 28%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaire-avis {
    display: flex;
    margin-bottom: 5px;
}

/***Activités à Marseille Ajout Elisabeth***/

.activites-Marseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: pink;*/
    margin-top: 3em;
    padding: 0 1.5em 0em 1.5em;
    box-sizing: border-box;
}

.activites-Marseille h2 {
    display: flex;
    width: 100%;
    margin: 0;
}

.activite-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.activite {
    display: flex;
    width: 22%;
    flex-direction: column;
    border-radius: 1.25em 1.25em 1.25em 1.25em;
    box-shadow: 0em 0.188em 0.938em rgba(0,0,0,0.1);
}

.activite-image {
    display: flex;
    width: 100%;
    height: 22em;
    border-radius: 1.25em 1.25em 0em 0em;
    object-fit: cover;
}

.activite h3 {
    display: flex;
    font-size: 1em;
    margin: 0.625em 0em 0.625em 0.50em;
    padding: 0.625em 0em 0.625em 0.50em;
}


/***ajout Elisabeth***/

/**footer***/
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    margin-top: 3em;
}

.footer-bloc {
    display: flex;
    flex-direction: column;
    margin: 0em 10em 0em 3em;
}
.footer-bloc h3 {
    margin: 2em 0em 0em 0em;
}

.footer-bloc ul {
    margin: 0;
    padding: 0;
}

.footer-bloc ol {
    margin-top: 1em;
    padding: 0;
}

/**header**/
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo {
    /**background-color: green;**/
    width: 50%;
    margin-top: 1em;
}

.header-logo img {
    height: 20px;
    width: 63.6667px;
}

.header-nav {
    display: flex;
    /**background-color: yellow;**/
    width: 50%;
}

.header-nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.nav-liste {
    display: flex;
    margin: 0em 2em 0em 2em;
    padding: 0;
}

.nav-liste:hover{
    border-top: 2px #0065fc solid;
    color: #0065fc;
}

/**formulaire de recherche**/

.filtre{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2em;
}

.filtre-intro{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.filtre-intro h1 {
    margin: 0;
}

.filtre-intro p {
    margin:0;
}

.filtre-theme img {
    width: 20px;
    height: 20px;
}

.formulaire {
    display: flex;
    /**background-color: pink;**/
    justify-content: left;
    align-items: center;
    margin: 2em 0em 1.5em 0em;
}

.filtre-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    background-color: #f2f2f2;
    width: 2.5em;
    height: 2.2em;
}

.fa-solid.fa-location-dot {
    display: flex;
    color: black;
}

.filtre-nom-de-ville {
    display: flex;
    height: 2em;
    border: 1px #f2f2f2 solid;
}

#nom-de-ville {
    text-align: center;
    border: 0;
    font-weight: bold;
    font-size: 1.2em;
}


.filtre-submit {
    background-color: #0065FC;
    border-radius:0px 10px 10px 0px;
    border: 0;
    color: white;
    text-align: center;
    padding: 9px 9px 9px 9px;
}

/**filtres de recherche**/

.filtre-theme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    /*background-color: pink;*/
}

.filtre-titre {
    display: flex;
    font-size: 1.2em;
}

.filtre-choixtab {
    display: flex;
    justify-content: space-around;
    width: 90%;

}

.choix {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px #D9D9D9 solid;
    border-radius: 2em;
    background-color: white;
    padding: 7px;
}

.choix .fa-solid {
    display: flex;
    margin: 10px;
    scale: 1.5;
}

.choix-p {
    display: flex;
    font-weight: bold;
    margin: 4px;
    font-size: 1.2em;
}

.choix:hover {
    background-color: #deebff;
}

/**info supp**/

.filtre-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    margin: 1.5em 0em 1.5em 0em;
}

.icone-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
}

.fa-solid.fa-info {
    display: flex;
}

.info-p {
    display: flex;
    margin-left: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}